<!--beque html here-->
<div id="bequeContainer">
  <button class="button" id="bequePush" on-drag-up="dragUp()" on-drag-down="dragDown()" on-release="dragEnd()">
    {{acao}}
  </button>
  <img class="gifImg" src="img/test/giphy-test0.jpg" />
  <button class="tryAgain" class="button" on-touch="restart()">
    Acender outro
  </button>
  <hr />
</div>
