<!--menu template html-->


<h2 class="sectionName">{{namePaginaAtual}}</h2>
<ul class="menu-list">
	<li class="item-doubts">
		<button ng-click="mostraDuvidas()">?</button>
	</li>
	<li class="item-text item-page">
		<button  data-page="infos" ng-click="mudaPagina()">i</button>
		<figure class="contorno-btn-menu"></figure>
	</li>
	<li class="item-map item-page">
		<button  data-page="mapa" ng-click="mudaPagina()">m</button>
		<figure class="contorno-btn-menu"></figure>
	</li>
</ul>

<div class="content-page">
	<section data-page="infos" id="sec-infos">
		Infos lalala
	</section>
	<section data-page="mapa" id="sec-mapa" ng-controller="mapControl">
		<div id="map" data-tap-disabled="true"></div>
	</section>

	<div id="doubt-page">
		<button class="close" ng-click="hideDuvidas()">
		</button>
		<section data-duvida="home" class="ativo">
			duvidas da home
		</section>

		<section data-duvida="infos">
			duvidas das infos
		</section>

		<section data-duvida="mapa">
			duvidas dos mapas
		</section>
	</div>

</div>
