#bequeContainer{
  position: absolute;
  top:0;
  left:0;
  width:100vw;
  height: 100vh;
  background: white;
  color: red;
  overflow: hidden;
}
#bequeContainer.finalized{
  background: green;
}

/* Área do Drag */
#bequePush{
  position: absolute;
  display: block;
  width: 100vw;
  height: 100vh;
  left: 0%;
  line-height: 120vh;
  bottom: 0%;
  background: transparent;
}

/* Recomeçar Ação de Drag */
.tryAgain{
  position: absolute;
  width:50%;
  left:25%;
  bottom:10%;
  height:60px;
}

/* Imagem Beque */
.gifImg{
  position: relative;
  display:block;
  margin:20% auto;
  pointer-events:none;
}

/*barra de status*/
#bequeContainer hr{
  display: block;
  height: 10px;
  width: 0%;
  background: darkseagreen;
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  border: 0px;  
}
