#loading{
  position: fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  background: white;
  line-height:100vh;
  font-size:60px;
  text-align: center;
  z-index:100;
}

#loading.notReady ~ * {
  pointer-events: none;
}

/* Views */
[ui-view="beque"]{
  z-index:50
}
[ui-view="menu"]{
  z-index:80
}
