/*menu template specific styles*/

/* Titulo da seção */
.sectionName{
    position: absolute;
    padding: 0px;
    margin: 0;
    width: 150px;
    height: 35px;
    line-height: 35px;
    left: 20px;
    top: 12px;
    text-align: center;
}

/* Botões */
ul.menu-list{
	position:absolute;
	left:10px;
	top:12px;
	width: -webkit-calc(100% - 20px);
	width: calc(100% - 20px);
	height: 35px;
	z-index:150;
}

ul.menu-list > li{
	display:inline-block;
	vertical-align: middle;
	position: relative;
}

ul.menu-list > li:not(.item-page){
	float:left;
}
ul.menu-list > li.item-page{
    margin-top: 8px;
    margin-left: 20px;
	float:right;
}


ul.menu-list > li > button{
	width:35px;
	height:35px;
	line-height: 35px;
	border-radius:50%;
	border:1px solid black;
	text-align: center;
	color: black;
	background: white;
	padding:0;
	margin:0;
	border:1px solid black;
}

/* Botão Dúvidas */
ul.menu-list > li.item-doubts > button{
	margin-top:7px;
	width:25px;
	height:25px;
	line-height: 25px;
}
/* Botão Ativo/Fechar */
ul.menu-list > li.item-map > button.ativo{
	background: #5dbf79;
}

ul.menu-list > li.item-text > button.ativo{
	background: #ffc900;
}

ul.menu-list > li.item-map > button.ativo + .contorno-btn-menu {
    position: absolute;
    display: block;
    width: 60px;
    height: 51px;
    top: -11px;
    right: -13px;
    background: #5dbf79;
    border-radius: 50% 50% 0 0;
    pointer-events: none;
    z-index: -1;
}

ul.menu-list > li.item-text > button.ativo + .contorno-btn-menu {
    position: absolute;
    display: block;
    width: 60px;
    height: 51px;
    top: -11px;
    right: -13px;
    background: #ffc900;
    border-radius: 50% 50% 0 0;
    pointer-events: none;
    z-index: -1;
}


/* Páginas */
.content-page{
	z-index:110;
}
.content-page > *{
	display:none;
	position: relative;
}

#doubt-page{
	position: fixed;
	top: 0;
    width: 100vw;
    height: 100vh;
	z-index:200;
}

#doubt-page > button.close {
	position: absolute;
	display: block;
	width: 100vw;
	height: 100vh;
    background-color:rgba(0, 0, 0, 0.8);
    border: 0;
}

#doubt-page > button.close:before {
    content: 'X';
    position: absolute;
    display: block;
    width: 45px;
    height: 45px;
    top: 30vh;
    left: calc(50vw - 22.5px);
    left: -webkit-calc(50vw - 22.5px);
    line-height: 45px;
    text-align: center;
    color: black;
    background: white;
    padding: 0;
    margin: 0;
    margin-top: -22.5px;
    border-radius: 50%;
    z-index: 340;
    border: 1px solid black;
}

#doubt-page > section{
	display:none;
}
#doubt-page > section.ativo{
	display:block;
}


#doubt-page > section { 
	position: absolute;
	width: 80vw;
	height: 45vh;
	top: 30vh;
	left: 10vw;
	background-color: #fff;
	border-radius: 10px;
    border: 1px solid black;
	z-index: 250;
}
