/* Empty. Add your own CSS if you like */
#conteudo > .scroll {
    height: 100%;
}
#debug {
  position: fixed;
  top:0;
  left:0;
  width:10px;
  height:10px;
  background: red;
  overflow: hidden;
  display:none;
  z-index:100;
}
#debug:hover{
  overflow: scroll;
  width:100%;
  height:60vh;
}

.scroll {
    height: 100%;
}

#sec-mapa {
    position: absolute;
    width: 100vw;
    height: calc(100vh - 60px);
    height: -webkit-calc(100vh - 60px);
    top: 60px;
    background-color: #5dbf79;
}

#sec-infos {
    position: absolute;
    width: 100vw;
    height: calc(100vh - 60px);
    height: -webkit-calc(100vh - 60px);
    top: 60px;
    background-color: #ffc900;
}

#map {
  position: absolute;
  display: block;
  width: calc(100vw - 10vw);
  width: -webkit-calc(100vw - 10vw);
  height: calc(100vh - 20vh);
  height: -webkit-calc(100vh - 20vh);
  left: 5vw;
  top: 7vh;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}
